<div class="row">
    <div class="col-12 site-menu">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/weblog">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/projects">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/code">Code</a>
            </li>
        </ul>
    </div> <!-- site-menu -->
</div>

<div class="row">
    <div class="row">
        <div class="col-8 mb-4">
            <div class="roy site-name">
                City Island Software
            </div>
            <div class="row site-slogan border-bottom text-danger border-danger border-1">
                Thoughts on Software Engineering
            </div>
        </div>
    </div>
</div>
