<div class="row">
    <div class="col">
        <div class="row site-header">
            <div class="col-8 site-banner mb-4">
                <div class="roy site-name">
                    City Island Software
                </div>
                <div class="row site-slogan border-bottom text-danger border-danger border-1">
                    Thoughts on Software Engineering
                </div>
            </div>
            <div class="col-4 site-menu" class="span4">
                <ul class="nav justify-content-right">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/weblog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/code">Code</a>
                    </li>
                </ul>
            </div> <!-- site-menu -->
        </div>
    </div>
</div>
